
/*Imago, Henry Jack, 2018. All rights reserved.*/

* { box-sizing: border-box; }
body { font-family: "Arial", sans-serif !important; max-width: 100%; overflow-x: hidden; min-height: 100%; }
.frm-image { width: 100%; }
.row { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.column { -ms-flex: 33%; flex: 33%; max-width: 33%; padding-left: 1%; }
.column img { margin-top: 18px; vertical-align: middle; padding-left: 8px; padding-right: 8px; }
@media screen and (max-width: 800px) { .column { -ms-flex: 50%; flex: 50%; max-width: 50%; } }
@media screen and (max-width: 600px) { .column { -ms-flex: 100%; flex: 100%; max-width: 100%; }}

.close2 { position: absolute; top: 80px; right: 40px; color: #706f6f; font-size: 30px; font-weight: bold; }
.close2:hover { font-size: 31px; color: #000; }

.tab { overflow: hidden; background-color: #fff; border-radius: 10px; }
.tab button { background-color: inherit; float: left; border: none; outline: none; padding: 14px 16px; transition: 0.3s; }
.tablinks { text-align: center; margin: 0px 40px; float: left; display: inline-block; font-size: 17px; color: #000; }
.tab button:hover { background-color: #55B4B0; cursor: pointer; }
.tab button.active { background-color: #95DEE3; }
.tabcontent { display: none; padding: 6px 12px; border-top: none; text-align: center; }
.tabtitle { font-family: "Arial", sans-serif; font-size: 28px; }

.navbar, .navbar-default, .navbar-light { position: fixed; width: 100%; background: #fff; background-color: #fff; z-index: 2; }
.searchnavbtn { border-radius:0px 5px 5px 0px; margin-left: -8px; background-color: #fff !important; }
.search-bar { max-width: 80%; border-radius: 5px 0px 0px 5px; }
.searchnavbtn:hover { background-color: #fff !important; color: #fff !important; }

.fas, .nav-link { display: inline-block; }
.fas { color: #28A745}
.nav-item { margin: 0px 70px; }
.nav-link { color: #4A4A4B !important; } .nav-link:hover { color: #2b5eaf !important; }
.upload-icon { background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); -webkit-background-clip: text; -webkit-text-fill-color: transparent;  }
.user-icon { background: linear-gradient(to right, #4e54c8, #8f94fb); -webkit-background-clip: text; -webkit-text-fill-color: transparent;  } 
.upload-class { border: 1px solid rgba(194, 194, 194, .5); border-radius: 12px; padding: 2px 6px; margin: -2px -6px; max-width: 160px; margin-bottom: 3px; }
.upload-class:hover { border: 1px solid rgba(66, 134, 244, .5); }
.nav-item { padding-top: 3px; }
.bottomnavmargin { margin-bottom: 60px; } .bottomtabsmargin { margin-bottom: 25px; }

#imgx { border-radius: 10px; cursor: pointer; transition: 0.3s; }
.modal { display: none; position: fixed; z-index: 1; padding-top: 120px; left: 0; top: 0; width: 100%; height: 100%; }
.modal { overflow: auto; background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.9); }
.modal-content { margin: auto; display: block; width: auto; max-width: 80%; max-height: 80%; border: 1px solid white; }
#captionNew, #captionTrend { margin: auto; display: block; width: 80%; text-align: center; color: #ccc; padding: 10px 0; height: 150px; }
.modal-content, #captionNew, #captionTrend { animation-name: zoom; animation-duration: 0.4s; }
.closeNew, .closeTrend { position: absolute; top: 80px; right: 40px; color: #706f6f; font-size: 30px; font-weight: bold; }
.closeNew:hover, .closeTrend:hover, .closeNew:focus, .closeTrend:focus { color: #fff; font-size: 32px; text-decoration: none; cursor: pointer; }
@keyframes zoom { from { transform: scale(0) } to { transform: scale(1) } }

.ultext { text-decoration: none; position: relative; }
.ultext:after { content: ''; position: absolute; bottom: 2px; left: 0; width: 0%; border-bottom: 2px solid #2b5eaf; transition: 0.1s; }
.ultext:hover:after { width: 100%; }
.typetitle { font-family: "Lato", sans-serif !important; font-weight: bold; }

@media (min-width: 1200px){
    .navbar-expand-custom { flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; }
    .navbar-expand-custom .navbar-nav { flex-direction: row; }
    .navbar-expand-custom .navbar-nav .nav-link { padding-right: .5rem; padding-left: .5rem; }
    .navbar-expand-custom .navbar-collapse { display: flex !important; }
    .navbar-expand-custom .navbar-toggler { display: none; }
}

.form { position: relative; z-index: 1; background: #FFFFFF; max-width: 350px; margin: 0 auto; padding: 15px;  }
.form { border-radius: 10px; text-align: center; }
.form input { outline: 0; background: #f2f2f2; width: 100%; border: 0; margin: 0 0 15px; }
.form input  { padding: 15px; border-radius: 3px;  box-sizing: border-box; font-size: 14px; }
.cb { outline: 0; width: 100%; max-width: 450px; border: 0; padding: 15px; border-radius: 3px; color: #FFFFFF; font-size: 16px; cursor: pointer; transition: all 0.1 ease; }
.cb { background: -webkit-linear-gradient(to right, #56ab2f, #a8e063); background: linear-gradient(to right, #56ab2f, #a8e063); }
.form .message { margin: 15px 0 0; color: #b3b3b3; font-size: 14px; }
.form .message a { color: #56ab2f; text-decoration: underline; font-size: 14px; }
.form .register-form { display: none; }
.info { margin: 10px 20px 20px 20px; text-align: center; }
.info h1 { margin: 0 0 15px; padding: 0; font-size: 36px; font-weight: 300; color: #1a1a1a; }
.connect-master { margin: 0 auto; padding: 5px; background: #fff; }
.connect-master { margin-top: 150px; margin-bottom: 50px; height: auto; border-radius: 10px; width: 90%; max-width: 450px; }
.connectbk { background: rgba(204, 204, 204, 0.3); position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; }

.showpass-area { margin-bottom: 12px; font-size: 14px; color: #1e6610; max-width: 200px; display: inline-block; float: right; }
.showpass-area:hover { color: #a80000; }
.fa-eye { color: #1e6610; } .showpass-area:hover .fa-eye { color: #a80000; }

.uploadbk { background: rgba(204, 204, 204, 0.3); position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; }
.upload-master { height: auto; margin: 0 auto; padding: 25px; background: #fff; }
.upload-master { margin-top: 150px; margin-bottom: 50px; border-radius: 10px; width: 90%; max-width: 450px; }
.upload-area { height: auto; margin: 0 auto; border: 2px dashed gray; padding: 15px 5px 5px 5px; }
#preview img { max-width: 100% !important; height: auto; max-height: 350px; border-radius: 5px; padding: 10px; display: block; margin: 0 auto; }
.upload-btn { outline: 0; width: 100%; border: 0; padding: 15px; border-radius: 3px; }
.upload-btn { background: -webkit-linear-gradient(to right, #56ab2f, #a8e063); background: linear-gradient(to right, #56ab2f, #a8e063); }
.upload-btn { color: #FFFFFF; font-size: 16px; cursor: pointer; display: inline-block; margin: 25px 0px; }
input[type="file"] { display: none; }
.custom-file-upload { padding: 10px; border-radius: 3px; color: #fff; cursor: pointer; }
.custom-file-remove { padding: 10px; border-radius: 3px; color: #fff; cursor: pointer; }
.custom-file-upload, .custom-file-remove { text-align: center; width: 150px; margin: 10px 10px 10px 10px;  }
#wrapper { width: auto; text-align: center; margin: 10px 10px 10px 10px; }

.custom-file-upload, .custom-file-remove, .upload-btn, .cb { 
    -webkit-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.9); 
    -moz-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.9); 
    box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.9); }
.custom-file-remove { 
    background: #e53935;  
    background: -webkit-linear-gradient(to right, #e35d5b, #e53935);  
    background: linear-gradient(to right, #e35d5b, #e53935); 
}    
.custom-file-upload {
    background: #457fca;
    background: -webkit-linear-gradient(to right, #5691c8, #457fca); 
    background: linear-gradient(to right, #5691c8, #457fca);
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translate3d(0, 50%, 0); }
    to { opacity: 1; transform: translate3d(0, 0, 0); }}

@keyframes fadeInDown {
    from { opacity: 0; transform: translate3d(0, -50%, 0); }
    to { opacity: 1; transform: translate3d(0, 0, 0); }}
  
.fadeInUp { animation-name: fadeInUp; animation-duration: 0.75s; } .fadeInDown { animation-name: fadeInDown; animation-duration: 0.75s; } 

#tosagree-text { font-size: 18px; font-family: 'Roboto', sans-serif; }
.toscontainer { display: block; position: relative; padding-left: 35px; margin-bottom: 12px; }
.toscontainer { cursor: pointer; font-size: 18px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.toscontainer input { position: absolute; opacity: 0; cursor: pointer; }
.checkmark { position: absolute; top: 0; left: 0; height: 20px; width: 20px; background-color: #eee; }
.toscontainer:hover input ~ .checkmark { background-color: #ccc;}
.toscontainer input:checked ~ .checkmark { background-color: #268214; }
.checkmark:after { content: ""; position: absolute; display: none; } 
.toscontainer input:checked ~ .checkmark:after { display: block; }  
.toscontainer .checkmark:after { left: 7px; top: 4px; width: 5px; height: 10px; border: solid white; border-width: 0 2px 2px 0; }
.toscontainer .checkmark:after { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

#tos-agreehide { display: none; margin: 25px; margin-top: -10px; }
#register2, #reg-goback, #loader, #reg-redir, #log-redir, #navaccount { display: none; }
.message2 { margin: 15px 0 0; color: #2b5eaf; font-size: 16px; }

#reg-redir { font-size: 18px; color: #2b5eaf; }

#loader { border: 8px solid #f3f3f3; border-radius: 50%; width: 60px; height: 60px; text-align: center; }
#loader { animation: spin 1.5s linear infinite; border-top: 8px solid #16992a; border-bottom: 8px solid #16992a; }
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }

#regerror-1, #regerror-2, #regerror-3, #regerror-4 { display: none; font-size: 19px; color: #e53935; margin-top: 10px; line-height: 20px; }
#regerror-fail, #reg-rereg, #logerror-fail { display: none; font-size: 19px; color: #e53935; margin-top: 10px; line-height: 20px; }
#regerror-fail, #logerror-fail { font-weight: bold; } 
#reg-success, #log-success { display: none; font-size: 27px; color: #1e6610; margin: 15px; }
#logerror-fail { margin: 15px; }

#log-redir { font-size: 18px; color: #2b5eaf; }

#uplerror-1, #uplerror-2, #uplerror-3 { display: none; font-size: 19px; color: #e53935; margin-top: 10px; line-height: 20px; }